.blob {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: all .7s ease-in-out;
  /* Default styling */
  right: -3%; top: 30%; transform: scale(11) rotateZ(29deg); background: rgb(252, 191, 73); border-radius: 52% 48% 56% 44% / 53% 56% 44% 47%; opacity: 1;
}

@media only screen and (max-width: 600px) {
  .blob {
    width: 50px;
    height: 50px;
  }
}

.headshot{
  background-image: url('assets/IMG_0899.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 70% 30% / 30% 32% 68% 70%;
  width: 350px; height: 350px;
  animation: morph 40s ease-in-out infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;border: 3px solid rgba(0,0,0,0.6);
}

@media only screen and (min-width: 600px) {
  .tjspacer {
    max-width: 90%;
    margin: 0 5%;
  }
}

.goLeft {
  padding:7%;
  text-align: left;
  max-width: 900px;
}

.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: left;
 }

.twocolumn .col {
  padding:14%;
}

@keyframes morph{
  0%,100% {
    border-radius: 70% 30% / 30% 32% 68% 70%;
  }
  20% {
    border-radius: 62% 38% 34% 66% / 29% 28% 72% 71%;
  }
  40% {
    border-radius: 27% 73% 34% 66% / 47% 34% 66% 53%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
  }
  80% {
    border-radius: 59% 41% 40% 60% / 60% 34% 66% 40%;
  }
}

.block-shadow {
  box-shadow: 4px 4px;
}
